body {
  background-color: lightgrey;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  color: #fff;
  background-color: rgb(37, 127, 254);
  border-radius: 5px;
  border: transparent;
  width: fit-content;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}
.btn:hover {
  background-color: rgb(148, 193, 255);
  text-shadow: 0 0 2px black;
}
.btn:active {
  background-color: rgb(37, 127, 254);
  position: relative;
  top: 1px;
}
a {
  text-decoration: none;
}

.box-wrapper {
  border: 10px ridge rgb(182, 87, 251);
  background-color: rgba(183, 87, 251, 0.5);
  height: 300px;
  width: 600px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px;
}

.quote-author-wrapper {
  height: 50%;
  width: 100%;
  margin: auto;
  text-align: center;
}
.quote {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.author {
  font-size: 14px;
  font-weight: 600;
}

.btn-tweet-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}