body {
  background-color: lightgrey;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  border: 1px solid black;
  height: 300px;
  width: 600px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px;
}

.quote-author-wrapper {
  border: 1px solid black;
  height: 50%;
  width: 100%;
  margin: auto;
  text-align: center;
}
.quote {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.author {
  font-size: 14px;
}

.btn-tweet-wrapper {
  border: 1px solid black;
  justify-content: space-around;
}